<% layout('../layouts/layout') %>
<link rel="stylesheet" type="text/css" href="css/views/columns.css">
<script type="text/javascript" src="js/columns.js"></script>

<form class="columns-wrap" method="POST" action="bigsearch">

  <% if (data.database && data.schema && data.columns) { -%>
  <div class="database-info">

      <p class="database-info__title">
        Вы выбрали базу данных <span><%= data.database %></span>, схему
        <span><%= data.schema %></span>

        <!--
        <% if (data.table) { -%>
          , сущность <span><%= data.table %></span>
        <% } -%>
        -->
        <input type="hidden" name="dbname" value="<%= data.database %>">
        <input type="hidden" name="schemaname" value="<%= data.schema %>">
        <input type="hidden" name="tablename" value="<%= data.table %>">

      </p class="database-info__title">
      <div class="database-info__search-info">
        <p class="database-info__search-info__view-info">
          Поисковое представление создано
        </p>
        <!--
          <button class="click-button" type="submit">Перейти к поиску</button>

        <a class="database-info__search-info__delete-view click-button" href="completion?dbname=<%= data.database %>&schemaname=<%= data.schema %>">
          <span>Удалить представление</span>
        </a>
        -->
      </div>
  </div>

  <div class="columns-info">

    <div class="columns-info__control">
      <div id="select-all" class="columns-info__control__option click-button">Выбрать всё</div>
      <div id="disable-all" class="columns-info__control__option click-button">Убрать всё</div>
    </div>

    <div class="columns-info__search">
      <button type="submit" class="columns-info__search__option click-button">Перейти к поиску</button>
      <a href="completion?dbname=<%= data.database %>&schemaname=<%= data.schema %>" class="columns-info__search__option click-button"><span>Удалить представление</span>
      </a>
    </div>

    <ul id="columns-list" class="columns-info__list list-float-none">
      <li class="columns-info__list__item">
        <p class="columns-info__list__item__column-info">
          <span class="columns-info__list__item__column-info__name">
            Поле представления
          </span>
          <span class="columns-info__list__item__column-info__type">
            Тип данных
          </span>
        </p>
      </li>
      <% data.columns.forEach(function(column) {%>

        <li class="columns-info__list__item standart-button ">
          <p class="columns-info__list__item__column-info">
            <input type="checkbox" checked="checked" name="<%= column.column_name %>*<%= column.data_type %>">
            <span class="columns-info__list__item__column-info__name">
              <%= column.column_name %>
              </span>
            <span class="columns-info__list__item__column-info__type">
              <%= column.data_type %>
            </span>
          </p>
        </li>

      <% }); %>
    </ul>

  </div>

  <% } else { -%>
      <div class="no-search-data-info">
        <p class="no-search-data-info__text">
          Выберите базу данных и схему для поиска
        </p>
      </div>
  <% } -%>

</form>
