<% layout('../layouts/layout') %>
<link rel="stylesheet" type="text/css" href="css/views/columns.css">
<script type="text/javascript" src="js/columns.js"></script>

<form class="columns-wrap" method="POST" action="bigsearch">

  <% if (data.database && data.schema && data.columns) { -%>
  <div class="database-info">

      <p class="database-info__title">
        Вы выбрали базу данных <span><%= data.database %></span>
        , схему <span><%= data.schema %></span>

        <!--
        <% if (data.table) { -%>
          , сущность <span><%= data.table %></span>
        <% } -%>
        -->
      </p class="database-info__title">
      <div class="database-info__search-info">
        <p class="database-info__search-info__view-info">
          Поисковое представление создано
        </p>
        <!-- <a class="database-info__search-info__search-button click-button"> -->
          <!-- <img src="/img/search.png"> -->
          <button class="click-button" type="submit">Перейти к поиску</button>

        <!-- </a> -->
        <a class="database-info__search-info__delete-view click-button" href="completion">
          <span>Удалить представление</span>
        </a>
      </div>
  </div>

  <div class="columns-info">

    <!-- <p class="columns-info__title">Поля представления: </p> -->
    <ul id="columns-list" class="columns-info__list list-float-none">
      <li class="columns-info__list__item">
        <p class="columns-info__list__item__column-info">
          <span class="columns-info__list__item__column-info__name">
            Поле представления
          </span>
          <span class="columns-info__list__item__column-info__type">
            Тип данных
          </span>
        </p>
      </li>
      <% data.columns.forEach(function(column) {%>

        <li class="columns-info__list__item standart-button ">
          <p class="columns-info__list__item__column-info">
            <input type="checkbox" checked="checked" name="<%= column.column_name %>*<%= column.data_type %>">
            <span class="columns-info__list__item__column-info__name">
              <%= column.column_name %>
              </span>
            <span class="columns-info__list__item__column-info__type">
              <%= column.data_type %>
            </span>
          </p>
        </li>

      <% }); %>
    </ul>

  </div>

  <% } else { -%>
      <div class="no-search-data-info">
        <p class="no-search-data-info__text">
          Выберите базу данных и схему для поиска
        </p>
      </div>
  <% } -%>

</form>
