    <% layout('../layouts/layout') %>
    <link rel="stylesheet" type="text/css" href="css/views/tables.css">
    <script type="text/javascript" src="js/tables.js"></script>

<div class="entities-info">



    <p class="dbinfo__dbname">
      Вы выбрали базу данных
      <span><%= data.database %></span>
      , схему
      <span><%= data.schema %></span>
    </p>

  <h3 class="entities-info__title">Отношения</h3>
  <div class="dbentities">


    <ul class="dbentities__list list-float-none">
      <% data.links.forEach(function(link) { %>
        <li class="dbentities__list__item standart-button">
          
            <div class="dbentities__list__item__left">
              <div class="dbentities__list__item__left__entity-content">
                <span class=" dbentities__list__item__left__en-title">
                  <%= link[0].entity %>
                </span>
                <ul class="columns-list">
                  <% link[0].columns.forEach(function(column) { %>
                    <li class="columns-list__item"><%= column %></li>
                  <% }); %>
                </ul>
              </div>
              <div class="dbentities__list__item__left__link-status">
                <% if (link[0].target) { -%>
                <span>M</span>
                <% } else { -%>
                <span>1</span>
                <% } -%>
              </div>
            </div>

            <div class="dbentities__list__item__middle">
              <span><--></span>
            </div>

            <div class="dbentities__list__item__right">
              <div class="dbentities__list__item__right__link-status">
                <% if (link[1].target) { -%>
                <span>M</span>
                <% } else { -%>
                <span>1</span>
                <% } -%>
              </div>
              <div class="dbentities__list__item__right__entity-content">
                <span class=" dbentities__list__item__right__en-title">
                  <%= link[1].entity %>
                </span>
                <ul class="columns-list">
                  <% link[1].columns.forEach(function(column) { %>
                    <li class="columns-list__item"><%= column %></li>
                  <% }); %>
                </ul>
              </div>

            </div>
          
        </li>
      <% }); %>
    </ul>
  </div>
</div>

  <div class="dbinfo">

  <h3 class="dbinfo__title">Сущности</h3>
  <% if (data.database && data.schema) { -%>
    <div class="wrapper">
      <form class="wrapper__form" method="POST" action="columns">
      <input type="hidden" name="dbname" value="<%= data.database%>">
      <input type="hidden" name="schemaname" value="<%= data.schema %>">



      <div class="dbtables">
        <ul class="dbtables__list list-float-none">
        <% data.list.forEach(function(table) { %>
          <li class="dbtables__list__item standart-button">
            <p>
              <span class="dbtables__list__item__table-name">
                <input type="radio" name="tablename" value="<%= table %>">
                <span><%= table %></span>
              </span>
            </p>
          </li>
        <% }); %>
        </ul>
      </div>


      <div class="submit">
        <button class="submit__button click-button" type="submit">
          ДАЛЕЕ
        </button>
      </div>
      </form>
    </div>


    <% } else { -%>

      <div class="no-search-data-info">
        <p class="no-search-data-info__text">
          Выберите базу данных и схему для поиска
        </p>
      </div>

    <% } -%>

    </div>
