<% layout('../layouts/layout') %>
<link rel="stylesheet" type="text/css" href="/css/base_blocks.css">
<link rel="stylesheet" type="text/css" href="/css/template_style.css">
<link rel="stylesheet" type="text/css" href="/css/base_classes.css">
<link rel="stylesheet" type="text/css" href="/css/views/templates.css">



<div class="templates-info">
  <% if ( data.templates.length != 0) { -%>
    <p class="templates-info__title _padding-for-h1">Мои шаблоны поиска</p>
  <% } else { -%>
    <p class="templates-info__title _padding-for-h1">У вас пока нет шаблонов поиска</p>
  <% } -%>
</div>

<div class="templates-content">
  <ul class="templates-content__list list-templates">
    <% data.templates.forEach(function(item) { %>
      <li>
        <div class="block-list-tems">
          <ul class="admin_panel_object">
            <li>
              <a class="edit-something click-button" href="/edit-template?template_id=<%= item.template_id %>">
                <img src="/img/pencil.png">
              </a>
            </li>
            <li>
              <a class="delete-something click-button" its="template_search" idd="36483" title="Удалить шаблон" href="/delete-template/?template_id=<%= item.template_id %>">
                <img src="/img/close.png">
              </a>
            </li>
          </ul>
          <div class="template-item-info">
            <p class="template-item-info__name"><%= item.name %></p>
            <p class="template-item-info__database">БД: <span><%= item.database %></span></%></p>
            <p class="template-item-info__schema">Схема: <span><%= item.schema %></span></%></p>
          </div>
        </div>
      </li>
    <% }); %>
  </ul>
</div>
