<% layout('../layouts/layout') %>
<script type="text/javascript" src="/components/devbridge-autocomplete/dist/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/components/file-saver/FileSaver.js"></script>
<link rel="stylesheet" type="text/css" href="css/views/big-search.css">

<script type="text/javascript" src="/components/handlebars/handlebars.js"></script>
<script type="text/javascript" src="/js/big-search-data.js"></script>
<script type="text/javascript" src="/js/big-search-interface.js"></script>
<script type="text/javascript" src="/js/big-search-requests.js"></script>
<script type="text/javascript" src="/js/big-search-viewing.js"></script>
<!-- Шаблоны -->
<%- include templates.ejs %>
<!-- Шаблоны(конец) -->



<section class="main">
<% if (data.searchData) { -%>

  <div class="search-data" style="display: none;">
    <span id="database"><%= data.searchData.database %></span>
    <span id="schema"><%= data.searchData.schema %></span>
    <span id="table"><%= data.searchData.table %></span>
    <span id="view-columns"><%= JSON.stringify(data.searchData.viewColumns) %></span>
    <% if (data.searchData.templateContent) { -%>
      <span class="JsonDataTemplate"><%= JSON.stringify(data.searchData.templateContent) %></span>
    <% } -%>
  </div>


  <div class="groups-manage-aligment">

    <a id="search-completer" class="click-button" href="completion?dbname=<%= data.searchData.database %>&schemaname=<%= data.searchData.schema %>">
      Завершить поиск
    </a>
    <button id="properties" class="content-action click-button">
      Настройка вывода
    </button>
    <button id="groups-viewer" class="content-action click-button">
      Просмотр всех групп
    </button>
    <button id="groupsAdder" class="content-action click-button">
      Добавить группу условий
    </button>
    <button id="templates-saver" class="content-action click-button">Сохранить шаблон поиска</button>

  </div>

    <% if (data.loadTemplate) { -%>

      <% data.searchData.templateContent.forEach(function(group, index) { %>

        <form id="form<%= index %>" class="form descriptors-form" action="">
          <div class="content-actions">
            <p class="add-tag content-action click-button">Добавить тег</p>
            <p class="add-not-tag content-action click-button">Отсутствие тега</p>
            <p class="add-attr content-action click-button">Добавить атрибут</p>
            <p class="check content-action click-button"><img src="/img/search.png" alt="Побробно"></p>
            <p class="edit-group content-action click-button">Редактировать группу</p>
          </div>
          <div class="descriptors-content">

            <% group.forEach(function(descriptor) { %>

              <% if (descriptor.id == 1) { %>
                <div class="item tag">
                  <span class="value"><%= descriptor.name %></span>
                  <span class="remove">×</span>
                </div>
              <% } %>

              <% if (descriptor.id == 2) { %>
                <div class="item attr">
                  <span class="value"><%= descriptor.name %></span>
                  <span class="attr-rel"><%= descriptor.relation %></span>
                  <span class="attr-num"><%= descriptor.number %></span>
                  <span class="remove">×</span>
                </div>
              <% } %>

              <% if (descriptor.id == 3) { %>
                <div class="item not-tag">
                  <span class="value"><%= descriptor.name %></span>
                  <span class="remove">×</span>
                </div>
              <% } %>

            <% }); %>
          </div>
        </form>

      <% }); %>


    <% } else { -%>

      <form id="form0" class="form descriptors-form" action="">
        <div class="content-actions">
          <p class="add-tag content-action click-button">Добавить тег</p>
          <p class="add-not-tag content-action click-button">Отсутствие тега</p>
          <p class="add-attr content-action click-button">Добавить атрибут</p>
          <p class="check content-action click-button"><img src="/img/search.png" alt="Побробно"></p>
          <p class="edit-group content-action click-button">Редактировать группу</p>
        </div>
        <div class="descriptors-content">
          <p class="empty-content">Добавьте дескрипторы</p>
        </div>
      </form>

    <% } -%>

  <button value="Найти" class="click-button" id="btn">Найти</button>

  <div id="results">
    <p>Задайте условия поиска</p>
  </div>

  <%- include modals.ejs %>

  <% } else { -%>

  <div class="no-search-data-info">
    <p class="no-search-data-info__text">Не заданы параметры для поиска</p>
  </div>

<% } -%>
  </section>
